{% extends 'Framework/Module/Administration/View/base.html.twig' %}

{% block controls %}
    <div class="btn-group pull-right" role="group" aria-label="..." style="margin-top: 5px; margin-bottom: 5px">
        <a class="btn btn-default" href="{{ generate_url('administration_create', [pageName]) }}" role="button">Create</a>
    </div>
{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <thead>
            <tr>
                {% for field in fields %}
                    <th>{{ field.name }}</th>
                {% endfor %}
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for item in items %}
                <tr>
                    {% for field in fields %}
                        {% if field.type == 'datetime' or field.type == 'date' %}
                            <td>{{ attribute(item, field.name) | date }}</td>
                        {% else %}
                            <td>{{ attribute(item, field.name) }}</td>
                        {% endif %}
                    {% endfor %}
                    <td>
                        <a href="{{ generate_url('administration_edit', [pageName, attribute(item, 'id')]) }}" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                        <a href="{{ generate_url('administration_delete', [pageName, attribute(item, 'id')]) }}" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}